<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="friends">
            <h2><span>Friends</span> {{ friends.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>User</span></dt>
                <dd>
                    {{ friends.user?.id }}
                </dd>
                <dt><span>Friends</span></dt>
                <dd>
                    {{ friends.friends?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/friends', friends.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
