<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Restablecer la contraseña</h1>

            <div class="alert alert-danger" *ngIf="initialized && !key">
                <strong>Falta la clave de restablecimiento de contraseña.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="key && !success">
                <span>Elija una nueva contraseña</span>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <span>No se pudo restablecer su contraseña. Recuerde que una solicitud de contraseña solo es válida por 24 horas.</span>
            </div>

            <div class="alert alert-success" *ngIf="success">
                <span><strong>Tu contraseña ha sido restablecida.</strong> Por favor </span>
                <a class="alert-link" (click)="login()">sign in</a>.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                ¡La contraseña y su confirmación no coinciden!
            </div>

            <div *ngIf="key && !success">
                <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
                    <div class="form-group">
                        <label class="form-control-label" for="newPassword">Nueva contraseña</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword"
                               placeholder="Nueva contraseña"
                               formControlName="newPassword" #newPassword>

                        <div *ngIf="passwordForm.get('newPassword')!.invalid && (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('newPassword')?.errors?.required">
                                   Tu contraseña es requerida.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                                   Su contraseña debe tener al menos 4 caracteres.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                                   Su contraseña no puede tener más de 50 caracteres.
                            </small>
                        </div>

                        <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Nueva confirmación de contraseña</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                               placeholder="Nueva confirmación de contraseña"
                               formControlName="confirmPassword">

                        <div *ngIf="passwordForm.get('confirmPassword')!.invalid && (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                                   Se requiere la confirmación de su contraseña.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                                   Se requiere que la confirmación de su contraseña tenga al menos 4 caracteres.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                                   La confirmación de su contraseña no puede tener más de 50 caracteres.
                            </small>
                        </div>
                    </div>

                    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Restablecer contraseña</button>
                </form>
            </div>
        </div>
    </div>
</div>
