<div>
    <div class="row justify-content-center">
        <div class="col-md-8" *ngIf="account$ | async as account">
            <h2>Contraseña para [<strong>{{ account.login }}</strong>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>¡Contraseña cambiada!</strong>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>¡Se ha producido un error!</strong> No se pudo cambiar la contraseña.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                ¡La contraseña y su confirmación no coinciden!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
                <div class="form-group">
                    <label class="form-control-label" for="currentPassword">Contraseña actual</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                           placeholder="Contraseña actual"
                           formControlName="currentPassword">

                    <div *ngIf="passwordForm.get('currentPassword')!.invalid && (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)" >
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('currentPassword')?.errors?.required">
                               Tu contraseña es requerida.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="newPassword">Nueva contraseña</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                           placeholder="Nueva contraseña"
                           formControlName="newPassword">

                    <div *ngIf="passwordForm.get('newPassword')!.invalid && (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword')?.errors?.required">
                               Tu contraseña es requerida.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                               Su contraseña debe tener al menos 4 caracteres.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                               Su contraseña no puede tener más de 50 caracteres.
                        </small>
                    </div>

                    <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Nueva confirmación de contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           placeholder="Nueva confirmación de contraseña"
                           formControlName="confirmPassword">

                    <div *ngIf="passwordForm.get('confirmPassword')!.invalid && (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                               Se requiere su contraseña de confirmación.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                               Su contraseña de confirmación debe tener al menos 4 caracteres.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                               Su contraseña de confirmación no puede tener más de 50 caracteres.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>
