<div class="row justify-content-center">
    <div class="col-8">
<div *ngIf="!friend">
<div *ngIf="!value">
    <h2 id="page-heading">
        <span>Solicitudes</span>
    <br>
    </h2>
    <div class="table-responsive" *ngIf="filterfriendaccountalfter()">
        <table class="table table-striped" aria-describedby="user-management-page-heading">
            <thead>
                <tr *ngIf="filterfriendanull()">
                    <th scope="col"><span>Usuario</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span>Correo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span>Nombre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span>Apellido</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            
            <tbody >
                <tr *ngFor="let friend of filterfriendaccountalfter();">
                  
                    <td *ngIf="(!search(friend.user.login,account.login) &&  filterfriendanull() && !(filternotrec(friend.user).length===0))">{{ friend.user.login }}</td>
                    
                    <td *ngIf="(!search(friend.user.login,account.login) &&  filterfriendanull() && !(filternotrec(friend.user).length===0))">{{ friend.user.email }}</td>
                    
                    <td *ngIf="(!search(friend.user.login,account.login) &&  filterfriendanull()&& !(filternotrec(friend.user).length===0))">{{ friend.user.firstName}}</td>
                    <td *ngIf="(!search(friend.user.login,account.login) &&  filterfriendanull()&& !(filternotrec(friend.user).length===0))">{{ friend.user.lastName }}</td>
                    
                    <td *ngIf="(!search(friend.user.login,account.login)&&  filterfriendanull()&& !(filternotrec(friend.user).length===0)) " class="text-right" >
                        <button class="btn btn-success btn-sm" (click)="setActive(false,friend.user)" >Aceptar</button>
                        <button class="btn btn-danger btn-sm" (click)="setActiverec(true,friend.user)">Rechazar</button>
                    </td>
                 
                </tr>
            </tbody>
            
        </table>
    </div>
    
    <div class="table-responsive" *ngIf="filterfriendaccountalfter()">
        <table class="table table-striped" aria-describedby="user-management-page-heading">
            <thead>
                <tr *ngIf="!filterfriendanull()">
                    <th scope="col"><span>Usuario</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span>Correo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span>Nombre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span>Apellido</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            
            <tbody >
                <tr *ngFor="let friend of filterfriendaccountalfter();">
                   
                    <td *ngIf="(!search(friend.user.login,account.login) &&  filterrep(friend.user)&&!(filternotrec(friend.user).length===0))">{{ friend.user.login }}</td>
                    
                    <td *ngIf="(!search(friend.user.login,account.login) &&  filterrep(friend.user)&&!(filternotrec(friend.user).length===0))">{{ friend.user.email }}</td>
                    
                    <td *ngIf="(!search(friend.user.login,account.login) &&  filterrep(friend.user)&&!(filternotrec(friend.user).length===0))">{{ friend.user.firstName}}</td>
                    <td *ngIf="(!search(friend.user.login,account.login) &&  filterrep(friend.user)&&!(filternotrec(friend.user).length===0))">{{ friend.user.lastName }}</td>
                    
                    <td *ngIf="(!search(friend.user.login,account.login)&&  filterrep(friend.user)&&!(filternotrec(friend.user).length===0)) " class="text-right" >
                        <button class="btn btn-success btn-sm" (click)="setActive(false,friend.user)" >Aceptar</button>
                        <button class="btn btn-danger btn-sm" (click)="setActiverec(true,friend.user)">Rechazar</button>
                    </td>
                 
                </tr>
            </tbody>
            
        </table>
    </div>
    
    <h2 id="page-heading">
        <span>Amigos</span>
 <br>
    </h2>

        <div  class="table-responsive" *ngIf="users">
            <table class="table table-striped" aria-describedby="user-management-page-heading">
                <thead>
                    <tr>
                        <th scope="col"><span>Usuario</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"><span>Correo</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"><span>Nombre</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"><span>Apellido</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngIf="users">
                    <tr *ngFor="let user of this.filterfriendaccount()[0].friends;">
                        
                       
                        
                        <td >{{ user.login }}</td>
                        <td >{{ user.email }}</td>
                        <td >{{ user.firstName}}</td>
                        <td >{{ user.lastName }}</td>
                        <td *ngIf="!filterfriendanulluser(user)"><button *ngIf="filternotrec(user).length===0" type="submit" id="save-entity" [disabled]="true" class="btn btn-info btn-sm">
                            &nbsp;<span>Pendiente</span>
                        </button></td>
                        <td *ngIf="filterfriendanulluser(user)"><button type="submit" id="save-entity" [disabled]="true" class="btn btn-info btn-sm">
                            &nbsp;<span>Pendiente</span>
                        </button></td>
                        <td class="text-right" >
                                <button class="btn btn-danger btn-sm" (click)="setnotActive(true,user)" *ngIf="filterfriendaccountuser(user)[0]">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
</div>
        <div *ngIf="value">
            <p>Buscando: "{{value}}"</p>
            
            <div class="table-responsive" *ngIf="users">
                <table class="table table-striped" aria-describedby="user-management-page-heading">
                    <thead>
                        <tr>
                            <th scope="col"><span>Usuario</span> <fa-icon icon="sort"></fa-icon></th>
                            <th scope="col"><span>Correo</span> <fa-icon icon="sort"></fa-icon></th>
                            <th scope="col"><span>Nombre</span> <fa-icon icon="sort"></fa-icon></th>
                            <th scope="col"><span>Apellido</span> <fa-icon icon="sort"></fa-icon></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="users">
                        <tr *ngFor="let user of users; trackBy: trackIdentity">
                            <td *ngIf="search(user.firstName,value) || search(user.lastName,value) || search(user.login,value) || search(user.email,value)" >{{ user.login }}</td>
                            <td *ngIf="search(user.firstName,value) || search(user.lastName,value) || search(user.login,value) || search(user.email,value)" >{{ user.email }}</td>
                            <td *ngIf="search(user.firstName,value) || search(user.lastName,value) || search(user.login,value) || search(user.email,value)">{{ user.firstName}}</td>
                            <td *ngIf="search(user.firstName,value) || search(user.lastName,value) || search(user.login,value) || search(user.email,value)">{{ user.lastName }}</td>
                            
                            <td class="text-right" *ngIf="(search(user.firstName,value) || search(user.lastName,value) || search(user.login,value) || search(user.email,value) && filterfriendanull())">
                                <button class="btn btn-success btn-sm" (click)="setActive(false,user)" *ngIf="(filterfriendanull())">Agregar</button>
                            </td>
                            
                            <td class="text-right" *ngIf="(search(user.firstName,value) || search(user.lastName,value) || search(user.login,value) || search(user.email,value))">
                                    <button class="btn btn-danger btn-sm" (click)="setnotActive(true,user)" *ngIf="filterfriendaccountuser(user)[0]">Eliminar</button>
                                    <button class="btn btn-success btn-sm" (click)="setActive(false,user)" *ngIf="(!filterfriendaccountuser(user)[0] || filterfriendanull())">Agregar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
    <button type="submit"
    (click)="previousState()"
    class="btn btn-info">
    <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
    </button>  
    </div>
        <div *ngIf="friend">
            <h2><span>Friend</span> {{ friend.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>User</span></dt>
                <dd>
                    {{ friend.user?.id }}
                </dd>
                <dt><span>Friends</span></dt>
                <dd>
                    <span *ngFor="let friends of friend.friends; let last = last">
                        {{ friends.id }}{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/friend', friend.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
