<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Restablecer su contraseña</h1>

            <jhi-alert-error></jhi-alert-error>

            <div class="alert alert-warning" *ngIf="!success">
                <span>Ingrese la dirección de correo electrónico que utilizó para registrarse.</span>
            </div>

            <div class="alert alert-success" *ngIf="success">
                <span>Consulte sus correos electrónicos para obtener detalles sobre cómo restablecer su contraseña.</span>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Correo</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Tu correo"
                           formControlName="email" #email>

                    <div *ngIf="resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="resetRequestForm.get('email')?.errors?.required">
                               Se requiere su correo electrónico.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="resetRequestForm.get('email')?.errors?.email">
                               Tu Correo Electrónico es Inválido.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="resetRequestForm.get('email')?.errors?.minlength">
                               Se requiere que su correo electrónico tenga al menos 5 caracteres.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="resetRequestForm.get('email')?.errors?.maxlength">
                               Su correo electrónico no puede tener más de 100 caracteres.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary">Restablecer</button>
            </form>
        </div>
    </div>
</div>
